Package: nautilus-meld-diff-extension
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Depends: nautilus, python3, python3-nautilus, meld
Maintainer: Walid Shouman <eng.walidshouman@gmail.com>
Description: A Nautilus extension for file comparison using Meld
 This extension integrates Meld into Nautilus, allowing users
 to compare files and directories directly from the Nautilus file manager.
 It is designed for GNOME-based distributions with Python 3.x.

